body {
	font-family: sans-serif;
	font-size: 2em;	
	color: #201C1D;
	background-color: #E6E6E6;
}

div.top-header {
	margin: -10px;
	padding: 20px; 
	height: 100%;
	width: 100%;
	background-color: #F7E0B0;
	text-align: center;
	font-size: 2em;
}

div.sidebar {
	font-family: arial;
	position: absolute;
	margin-top: 5%;
	margin-left: -10px;
	padding: 15px;
	height: 100%;
	width: 25%;
	background-color: #7DC18F;
	float: left;
}



p.info-name {
	color: #FFE2B1;
}

a.git {
	color: #1a7ab4;
}

p.info {
	color: #FFFFFF;
}

div.output {
	margin-top: 5%;
	width: 70%;
	float: right;
}